include blog_improved/templates/*.html
include blog_improved/templates/blog_improved/*.html
include blog_improved/templates/blog_improved/partials/*.html
include blog_improved/templates/blog_improved/pages/*.html
include blog_improved/templates/blog_improved/authors/*.html
include blog_improved/static/js/*.js
include blog_improved/static/css/*.css
include blog_improved/static/img/*.png
include blog_improved/static/img/*.jpg
include blog_improved/static/img/*.ico
include blog_improved/static/font/NotoSans-Bold.ttf  
include blog_improved/static/font/NotoSans-Regular.ttf
