{% extends "base.html" %}
{% block header %} {% endblock %}
{% block content %}
		<div class="container">
			<div class="row">
				<div class="col">
			<h2 class="font-weight-bold">Django Blog Improved</h2>
				</div>
			</div>
			<section id="example-refs" class="pt-4"> 
			<div class="row">
				<div class="col-5">
					<h3>Examples</h3>
					<h4 class="h6 font-weight-light">All examples</h4>
				{% for group_name, examples in examples.items %}
			<ul class="px-0 pt-2" style="list-style: none;">
				{% for example in examples %}
				<li>
					<a href="{{ example.path }}" />
					{{ example.name }}
					</a>
				</li>
				{% endfor %}
				{% endfor %}
					</ul>
				</div>
			</div>
		</div>
			</section>
{% endblock %}
