{% extends "base.html" %}
{% load static %}
{% load crispy_forms_gds %}
{% block content %}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% breadcrumbs crumbs %}
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Services</h1>
      </div>
    </div>
  </div>
  <div class="govuk-width-container">
    <div class="govuk-grid-row app-covid-banner-bottom">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">We provide a range of services</h2>
        <p class="govuk-body">Our staff work 24/7 365 days a year.</p>
        <p class="govuk-body">Small and medium-sized enterprises to Fortune 500.</p>
        <p class="govuk-body">9 in 10 people said our service met their fullest satisfaction. With prices competively compared with the industry watchdog standards.</p>
        <a class="govuk-link govuk-link--inverse app-cta-link" href="">Find out what the rules are</a>
      </div>
    </div>
  </div>
<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="app-danger-box">
          <h2 class="govuk-heading-m">Find out why we are rated the best</h2>
          <p class="govuk-body">Case stories and user stories are provided here.</p>
        </div>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <section>
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Certification and training
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>This is the content for Writing well for the web.</p>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                        Supply chain management
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                    <p class='govuk-body'>This is the content for Writing well for specialists.</p>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                        Health and safety
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <p class='govuk-body'>This is the content for Know your audience.</p>
                  </div>
                </div>
                <div class="govuk-accordion__section ">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                        Event coordination
                      </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                    <p class='govuk-body'>This is the content for How people read.</p>
                  </div>
                </div>
              </div>    
        </section>
        <section class="govuk-!-margin-bottom-8">
          <h2 class="govuk-heading-m">Recent and upcoming changes</h2>
          <h3 class="govuk-heading-s">27 January</h3>
          <p class="govuk-body">The CEO has announced that <a class="govuk-link" href="#">the company is opening</a> 10 new factories and a new inner-city office branch, as part of company's 2027 expansion plan.</p>
          <p class="govuk-body">The CEO has also announced <a class="govuk-link" href="#">further upgrades to memberships</a>, including gold package members receiving additional monitoring services at no extra charge. We’ll set out more details in due course.</p>
          <h3 class="govuk-heading-s">5 January</h3>
          <p class="govuk-body"><a class="govuk-link" href="#">As work on our charity arm unfolds</a>. We are happy to share that our new academies to train the future generations are reaching completion. See our locations in <a class="govuk-link" href="#">Scotland</a>, <a class="govuk-link" href="#">Wales</a> and <a class="govuk-link" href="#">Northern Ireland</a>.</p>
          <p class="govuk-body"><a class="govuk-link" href="#">Applications are now open</a>. If you’re interested in joining our training programmes, then fill out the application. You can get <a class="govuk-link" href="#">support if you’re requiring a guidance</a>, for example to help answer the questions on your behalf.</p>
        </section>
        <section class="app-section">
          <h2 class="govuk-heading-m">Announcements</h2>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Blueprints for the new future office campus</a></h3>
          <p class="govuk-body">Published 27 January 2022</p>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Reached the milestones of 500,000 new subscribers and more</a></h3>
          <p class="govuk-body">Published 27 January 2021</p>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Foster Group has recognised the company as best leading organisation</a></h3>
          <p class="govuk-body">Published 27 January 2021</p>
          <p class="govuk-body"><a class="govuk-link" href="#">See all announcements</a></p>
        </section>
        
        <section class="app-section govuk-!-margin-bottom-8">
          <h2 class="govuk-heading-m">All services information</h2>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Awards</a></h3>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="#">News</a></h3>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Press conferences (YouTube)</a></h3>
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link" href="#">Press conference statements</a></h3>
        </section>

        <div class="app-updates">
          <h3 class="govuk-heading-s">Stay up to date with Services</h3>
          <p class="govuk-body"><a class="govuk-link" href="#">Sign up to get emails when we change any information on the services website</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}