{% extends "base.html" %}
{% block title %} Examples Bloglist Name {% endblock title %}
{% load blog_tags %}

{% block content %}
<div class="container">
<pre class="pre">
<code class="code">
  &#123;&#37; bloglist name='myfirstblog' &#37;&#125;
</code>
</pre>
<div id="preview" class="pt-4">
{% bloglist name='my_first_bloglist' max_count='1' as firstlist %}
<pre>
<code>
{{ firstlist|escape|lower|slice:':140' }}
...
</code>
</pre>
</div>
<p>In the example, the id of posts has evaluted to "my_first_bloglist" based off the name option.</p>
<p>Naming bloglists is useful when you want to target markup in your documents.</p>
<pre class="pre">
<code class="code">
  &#123;&#37; bloglist name='news' &#37;&#125;
  &#123;&#37; bloglist name='music' &#37;&#125;
  &#123;&#37; bloglist name='sport' &#37;&#125;
</code>
</pre>

</div>
{% endblock %}
