{% extends "blog_improved/base.html" %}
{% load static %}
{% block content %}

  <div class="govuk-width-container">
    {% breadcrumbs crumbs %}
  </div>

	<article class="post-detail bg-white" datetime="">
	      <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content" role="main">
<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters-from-desktop">
    <span class="govuk-caption-l">{{ post.category }}</span>
    <h1 class="govuk-heading-xl">{% block title %} {{ post.title }} {% endblock title %}</h1>
    <p class="govuk-body-l">{{ post.headline }}</p>
	</div>
</div>


<div class="govuk-grid-row">
	<div class="govuk-grid-column-three-quarters-from-desktop">
		<hr class="govuk-section-break govuk-section-break--m">
    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">
        Published {{ post.created_on|date:"d F, Y" }}
    </p>
    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-4">
      From:
      {% if post.get_author_url %} 
        <a class="govuk-link" href="{{ post.get_author_url }}">{{ post.author }}</a> 
      {% else %}
        {{ post.author.username }}
      {% endif %}
    </p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">	
    <div class="gem-c-govspeak-html-publication">
	<div class="gem-c-govspeak govspeak">
    	{% autoescape off %}
      	{{ post.content }}
    	{% endautoescape %}
    </div>
    </div>
    <div class="govspeak">
    <div class="info-notice">
      <p class="govuk-body">If you have any questions, you can <a href="{% url 'contact' %}" class="govuk-link govuk-link--no-visited-state">get in touch with us</a>.</p>
    </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
    {% if post.associated_git_repository %}
    <a href="{{ post.associated_git_repository }}" class="govuk-link govuk-link--muted">
      Edit this information?
    </a>
    {% endif %}
    <div class="govspeak">
      <p class="govuk-body govuk-!-margin-bottom-0">Published:</p>
    <div class="stat-headline govuk-!-margin-top-0 govuk-!-margin-bottom-8">
      {% for tag in post.tags.all %}
        {{ tag }}
      {% endfor %}
      <p>
      <em></em>{{ post.created_on|date:"d F, Y" }}
      </p>
    </div>
  </div>
	</div>
</div>
	</div>
	</article>
        </main>
      </div>
{% endblock content %}
