<!DOCTYPE html>
{% load cache %}
{% load static %}
{% load blog_tags %}
<html lang="en" class="govuk-template">
    <head>
      <meta charset="utf-8">
      <meta name="description" content="This is the web log. We mostly talk about tech.">
      <meta name="author" content="django-blog-improved">
      <title>{% block title %}{{ site.name }}{% endblock %}</title>
      <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}" />
      {% block extrahead %}
      <!-- CSS Goes here -->
      <link rel="stylesheet" href="{% static 'css/spongy-frontend-1.0.0.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/spongy-publishing-components-1.0.0.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/nhsuk-frontend.min.css' %}">  
      <link rel="stylesheet" href="{% static 'css/blog.css' %}"> 

      <script src="{% static 'js/nhsuk.js' %}" defer></script>
      {% endblock extrahead %}
      <meta name="theme-color" content="#0b0c0c">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1" />

    </head>
    <body class="blog__body">
  <script>
    // @license magnet:?xt=urn:btih:d3d9a9a6595521f9666a5e94cc830dab83b65699&dn=expat.txt The MIT License
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    // @license-end
  </script>
  {% include "blog_improved/partials/header.html" %}
 {% block brand_bar %}
  {% endblock brand_bar %}
  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    {% block content %}
        <!-- Content Goes here -->
    {% endblock content %}

      <!-- Add space at bottom -->
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <hr class="govuk-section-break govuk-section-break--xl">
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include "blog_improved/partials/footer.html" with pages=navigation %}
 {% block closing_body_scripts %}
    <script src="{% static 'js/spongy-frontend-1.0.0.min.js' %}"></script>
    <script>
      window.SpongyFrontend.initAll()
    </script>
  {% endblock closing_body_scripts %}
</body>
</html>
