{% extends "base.html" %} {% load static %}
{% block headcss %}
<!-- CSS Goes here -->
<link rel="stylesheet" href="{% static 'css/frontend.css' %}">
<link rel="stylesheet" href="{% static 'css/publishing.css' %}">
{% endblock headcss %}
{% block content %}
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-xl">Page not found</h2>
                <p class="govuk-body-l">
                    If you entered a web address, check it is correct.
                </p>
                <p class="govuk-body-s">
                    status 404
                </p>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
<ul class="govuk-list govuk-list--spaced">
  <li>
    <a class="govuk-body govuk-!-font-size-27 govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{% url 'home' %}">
    Return to homepage <span>&#8962;</span>
    </a>
  </li>
  <li>
    <a class="govuk-link govuk-!-font-size-27 govuk-link--no-visited-state govuk-link--no-underline" href="{% url 'contact' %}">
    Report a broken link or page
    </a>
  </li>
</ul>
            </div>
        </div>
        <section>
            <div class="govuk-grid-row">
                <div class="govuk-column"></div>
            </div>
        </section>
    </main>
  </div>


{% endblock %}