{% extends "base.html" %}

{% block content %}

  <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>

  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-xl">Community Social</h2>
                <p class="govuk-body-l">
                    The people whom walk beside you are offering their expertise for social good
                </p>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
<ul class="govuk-list govuk-list--spaced">
  <li>
    <a class=" govuk-body govuk-!-font-size-27 govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="#">
        Book a drop-in session
    </a>
  </li>
  <li>
    <a class="govuk-link govuk-!-font-size-27 govuk-link--no-visited-state govuk-link--no-underline" href="#">
        Find software we building for locals
    </a>
  </li>
</ul>
            </div>
        </div>
        <section>
            <div class="govuk-grid-row">
                <div class="govuk-column"></div>
            </div>
        </section>
    </main>
  </div>


{% endblock %}
