{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
        {% block headcss %}
        <link rel="stylesheet" href="{% static 'css/spongy-frontend-1.0.0.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/spongy-publishing-components-1.0.0.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock headcss %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper" style="padding-top: 10px;" id="main-content" role="main">
   {% include "partials/group-identity-logo.html" %}
   {% include "partials/feature-panel.html" with p=1 %}
   {% include "partials/post-list.html" with show_all=True show_all_text="See all posts" %}
             <section class="contact-section">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">
                    <h2 class="govuk-heading-m contact-section__title govuk-!-padding-top-3 heading-border">Contact</h2>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% contact_us "email" "mailto" as email %}
{% if email %} 
<h3 class="govuk-heading-s">Email</h3>
<ul class="govuk-list">
  <li>{% contact_us "email" "mailto" %}</li>
  <li>I aim to reply within 7-14 days</li>
</ul>
{% endif %}
{% contact_us "matrix" as matrix %}
{% if matrix %}
<h3 class="govuk-heading-s ">Matrix</h3>
<ul class="govuk-list">
  <li>{% contact_us "matrix" %}</li>
  <li>Currently respond within 2 days</li>
</ul>
{% endif %}
                    </div>
                    <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m heading-border govuk-!-padding-top-3">Additional information</h2>
<ul class="govuk-list govuk-list--spaced">
  <li>
    <a class="govuk-body govuk-!-font-size-24 govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{% url 'about' %}">
        About page
    </a>
  </li>
</ul>
                    </div>
</div>
          </section>
 </main>
  </div><!-- end of container wrapper -->

{% endblock content %}
