{% extends "blog_improved/base.html" %}
{% load static %}
{% load blog_tags %}
{% load crispy_forms_tags crispy_forms_gds %}
{% block content %}
<div class="govuk-width-container">
    {% breadcrumbs crumbs %}
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-xl">Contact</h2>
				{% if blocked %}
				<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
					<h2 class="govuk-error-summary__title" id="error-summary-title">
					  Abuse prevention
					</h2>
					<div class="govuk-error-summary__body">
					  <ul class="govuk-list govuk-error-summary__list">
						{% for error in blocked %}
							  <li>{{ error }}</li>
						{% endfor %}
					  </ul>
					</div>
				  </div>
				  {% endif %}
                {% error_summary form %}
				<div class="gem-c-cards">
					<h2 class="gem-c-cards__heading govuk-heading-m">
					  All enquiries
			  </h2>   
			   <ul class="gem-c-cards__list gem-c-cards__list gem-c-cards__list--two-column-desktop">
					  <li class="gem-c-cards__list-item">
						<div class="gem-c-cards__list-item-wrapper">
						  <h3 class="gem-c-cards__sub-heading govuk-heading-s">
<svg xmlns="http://www.w3.org/2000/svg" width="21" height="15.75" class="gem-c-subscription-links__icon" focusable="false" fill="currentColor" aria-hidden="true"><path d="M19.687 0H1.312C.589 0 0 .587 0 1.313v13.124c0 .726.588 1.313 1.313 1.313h18.374c.725 0 1.313-.587 1.313-1.313V1.313C21 .587 20.412 0 19.687 0zm-2.625 2.625L10.5 7.875l-6.563-5.25h13.126zm1.313 10.5H2.625V3.937L10.5 10.5l7.875-6.563v9.188z"></path>
            </svg>
							{% contact_us "email" mailto=True %}
			  </h3>              <p class="govuk-body gem-c-cards__description">Email I aim to reply within 7-14 days</p>
						</div>
					  </li>
					  <li class="gem-c-cards__list-item">
						<div class="gem-c-cards__list-item-wrapper">
						  <h3 class="gem-c-cards__sub-heading govuk-heading-s">
							{% contact_us "matrix" "https://matrix.to/" %}
			  			  </h3>  
			  <p class="govuk-body gem-c-cards__description">Chat online between business hours 9AM-5PM</p>
						</div>
					  </li>
			  </ul> 
				</div>
			<hr class="govuk-section-break govuk-section-break--xl">
			  <section id="send-a-secure-message">
			  <p class="govuk-body">If you want to encrypt your mail, you can get the GPG key through the link below.</p>
			  <details class="govuk-details" data-module="govuk-details">
				<summary class="govuk-details__summary">
				  <span class="govuk-details__summary-text">
					See my GPG fingerprint 
				  </span>
				</summary>
				<div class="govuk-details__text">
					gpg --fingerprint <br>
	Key fingerprint = 24CF 64AF 2A8E 4C02
				</div>
			  </details>
			  </section>
            </div>
        </div>
    </main>
  </div>
{% endblock content %}
