{% extends "blog_improved/base.html" %}
{% load static %}
{% load blog_tags %}
{% block extrahead %}
<!-- Stylesheets and presentation -->
<link rel="stylesheet" href="{% static 'css/spongy-frontend-1.0.0.min.css' %}">
<link rel="stylesheet" href="{% static 'css/spongy-publishing-components-1.0.0.min.css' %}">
<link rel="stylesheet" href="{% static 'css/nhsuk-frontend.min.css' %}">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">

<!-- JavaScript libraries and scripting -->
<script src="{% static 'js/nhsuk.js' %}" defer></script>

{% endblock extrahead %}
{% block content %}
<style>
/**
#desktop-banner {
  max-width: 1500px;
  width: 100%;
  min-height: 1px;
  margin: 0 auto;
}

#desktop-banner-hero {
  position: relative;
  overflow: visible;
  max-height: 230px;
  z-index: 0;
  height: 300px;
}

 #desktop-banner-hero img {
  margin: auto;
  width: 100%;
  max-width: none;
  height: auto;
  position: relative;
 }

 #desktop-banner-hero > .image-viewport {
  position:relative;
 }

 #desktop-banner-hero > .image-viewport::after {
	 content: '';
	 height: auto;
	 width: 100%;

background: linear-gradient(to bottom, rgba(234, 237, 237, 0) 70%, var(--sf-light-grey));

 	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
 }

 @media screen and (orientation: portrait) {

 #desktop-banner-hero > .image-viewport::after {
	display: none;   
 }
}




   .nhsuk-do-dont-list {
	position: relative;
   }


*/
</style>
    <main class="govuk-main-wrapper" style="padding-top: 0px;" id="main-content" role="main">
  <div class="govuk-width-container">
	  <div class="govuk-grid-row">
		  <div class="govuk-grid-column-full">
   {% include "blog_improved/partials/group-identity-logo.html" %}
		  </div>
	  </div>
	  <div class="govuk-grid-row">
		  <div class="govuk-grid-column-full">
   {% include "blog_improved/partials/feature-panel.html" with feature=post_list|featured|first %}
		  </div>
	  </div>
	  <div class="govuk-grid-row">
		  <div class="govuk-grid-column-full">
   {% include "blog_improved/partials/post-list.html" with show_all=True show_all_text="View all posts catalogue" %}
  </div>
	  </div>

		  <div class="govuk-grid-row">
			  <div class="govuk-grid-column-full">
             <section class="contact-section">
		     <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds govuk-!-padding-bottom-9">
                    <h2 class="govuk-heading-m contact-section__title govuk-!-padding-top-3 heading-border">Contact</h2>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% contact_us "email" "mailto" as email %}
{% if email %} 
<h3 class="govuk-heading-s">Email</h3>
<ul class="govuk-list">
  <li>{% contact_us "email" "mailto" %}</li>
  <li>I aim to reply within 7-14 days</li>
</ul>
{% endif %}
{% contact_us "matrix" as matrix %}
{% if matrix %}
<h3 class="govuk-heading-s ">Matrix</h3>
<ul class="govuk-list">
  <li>{% contact_us "matrix" %}</li>
  <li>Currently respond within 2 days</li>
</ul>
{% endif %}
                    </div>
                    <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m heading-border govuk-!-padding-top-3">Additional information</h2>
<ul class="govuk-list govuk-list--spaced">
  <li>
    <a class="govuk-!-font-size-24 govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="{% url 'about' %}">
        About page
    </a>
  </li>
</ul>
                    </div>
</div>
			  </div>
          </section>
 </main>

  </div><!-- end of container wrapper -->

{% endblock content %}
