{% extends "blog_improved/minimal-base.html" %} 
{% load static %}
{% block content %}
<header>
    <nav>
        <a href="{% url 'home' %}">Go back home</a>
    </nav>
</header>
<h1 class="govuk-heading">Licenses</h1>
<p>Current website software licenses</p>
<ul>
    <li><p>Django Blog Improved <a href="https://codeberg.org/spongycake/django-blog-improved/raw/commit/b2f9dc37d134af9894c8c595fa48feba3f2fa2b4/LICENSE.txt">AGPLv3</a> -- <a href="https://codeberg.org/spongycake/django-blog-improved">Django Blog Improved</a> -- is parts of the Python backend that controls the website.</p>
    </li>
    <li><p>Spongycake Frontend -- <a href="https://codeberg.org/spongycake/spongy-frontend/raw/branch/master/LICENSE.txt">The MIT License</a> -- <a href="https://codeberg.org/spongycake/spongy-frontend">Spongy Frontend</a> -- is the design tools that effects the CSS and website appearance.</p>
    </li>
</ul>
<h2>JavaScript Licenses</h2>
<table id="jslicense-labels1">
    <tr>
    <td><a href="{% static 'js/spongy-frontend-1.0.0.min.js' %}">spongy-frontend.min.js</a></td>
    
    <td><a href="https://codeberg.org/spongycake/spongy-frontend/raw/branch/master/LICENSE.txt">The MIT License</a></td>
    
    <td><a href="https://codeberg.org/spongycake/spongy-frontend/src/branch/master/package/govuk/all.js">spongy-frontend.min.js</a></td>
    </tr>
</table>
<h2>CSS Licenses</h2>
<table id="csslicense-labels1">
    <tr>
    <td><a href="{% static 'css/cv.css' %}">/css/cv.css</a></td>
    
    <td><a href="https://raw.githubusercontent.com/KittyGiraudel/site/main/LICENSE">The MIT License</a></td>
    
    <td><a href="https://github.com/KittyGiraudel/site/blob/main/assets/css/pages/resume.css">resume.css</a></td>
    </tr>
</table>
<h2>Code Snippets / educational demos</h2>
<p>Generally the code snippets, programming demos, and syntax wrapped in copy boxes, are licensed under the MIT License.</p>
<p>Where exceptions, these are communicated within the associated article. For example, the author provides a different software license alongside their code snippet, on the same page.</p>
<p>When we use the term "code snippets", we are not referring to the code responsible for running the website.</p>
{% endblock content %}
