{% load blog_tags %}
{% url_gen subpath=post.get_absolute_url as read_more_url %}
{% with read_more_url=read_more_url|default:post.get_absolute_url %}
<article class="gem-c-image-card" role="article">
    <div class="gem-c-image-card__text-wrapper">
      <div class="gem-c-image-card__header-and-context-wrapper">
          <h2 class="gem-c-image-card__title">
		  <a class="gem-c-image-card__title-link" href="{{ read_more_url }}">{{ post.title }}</a>
</h2>       
          <p class="gem-c-image-card__context"><time datetime="{{ post.published_on|date:'Y-m-d' }}">{{ post.published_on|date:'d F Y'}} </time><span aria-hidden="true"> — </span>{{ post.category.name }}</p>
      </div>
      <div class="gem-c-image-card__description visible-desktop">{{ post.headline }}</div>
    </div>
    <figure class="gem-c-image-card__image-wrapper article-figure">
    {% if post.cover_art %}
    {% with cover_art=post.cover_art %}
      <img class="gem-c-image-card__image" alt="{{ cover_art.title }}" title="{{ cover_art.title }}" loading="auto" src="{{ cover_art.file.url }}" width="300" height="200">
    {% endwith %}
    {% endif %}
  </figure>
</article>
    <div class="read-more-link visible-desktop">
	    <a class="govuk-link" aria-label="View blog post: {{ post.title }}" href="{{ read_more_url }}">Read more
               <div class="arrow" aria-hidden="true"></div>
	    </a>
	        </div>
{% endwith %}
