<nav class="nhsuk-contents-list" role="navigation" aria-label="{{ arialabel }}|'Contents'">
	<h2 class="nhsuk-u-visually-hidden">{{ arialabel }}|'Contents'</h2>
	{% for item in contents_list %}
  <ol class="nhsuk-contents-list__list">
	  {% if forloop.first %}
    <li class="nhsuk-contents-list__item" aria-current="page">
	    <span class="nhsuk-contents-list__current">{{ item.0 }}</span>
    </li>
    {% else %}
    <li class="nhsuk-contents-list__item">
	    <a class="nhsuk-contents-list__link" href="{{ item.1 }}">{{ item.0 }}</a>
    </li>
    {% endif %}
  </ol>
  {% endfor %}
</nav>
