{% load cache %}
{% load blog_tags %}
<header class="nhsuk-header" role="banner">
  <div class="nhsuk-width-container nhsuk-header__container">
    <div class="nhsuk-header__logo"><a class="nhsuk-header__link nhsuk-header__link--service " href="/" aria-label="NHS homepage">
		   <span class="nhsuk-header__service-name">
        	    {% if site %} {{ site.name }} {% else %} 
		    <span style="color: red; font-weight: bolder;">No title<span>
		    {% endif %}
        </span>
      </a>
    </div>

      <div class="nhsuk-header__content" id="content-header">
        <div class="nhsuk-header__menu nhsuk-header__menu--only">
           <button class="nhsuk-header__menu-toggle" id="toggle-menu" aria-controls="header-navigation" aria-expanded="false">Menu</button>
	   <noscript>
		   <a class="nhsuk-header__menu-toggle--noscript" href="{% url 'browse' %}" aria-controls="header-navigation" aria-expanded="false">Menu</a>
	   </noscript>
        </div>
      </div>
    </div>
	{% main_nav %}
    </header>
