{% load blog_tags %}
<section class="releases-feed govuk-!-padding-bottom-4 blog-posts" role="feed">
          <div class="image-card-group">
		<div class="image-card-group__row">
                {% for post in post_list %}		
              <div class="image-card-group__item">
                  {% include "blog_improved/partials/article-card.html" with post=post %}
              </div>
		{% if forloop.counter|divisibleby:3 %}
	         </div>
		  {% if not forloop.last %}
		    <div class="image-card-group__row">
		  {% endif %}
		    {% else %}
		  {% if forloop.last %}
		    </div>
		    {% endif %}
		 {% endif %}

		  {% empty %}
		 <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                  <p class="govuk-body">No posts found</p>
                  </div>
		 </div>
                  {% endfor %}
	  </div>
	  {% if show_all %}
          <div class="govuk-grid-row">
              <div class="govuk-!-margin-top-5 govuk-!-margin-bottom-9 govuk-!-text-align-centre">
	      <div class="gem-c-action-link gem-c-action-link--dark-icon govuk-!-margin-bottom-0">
            <span class="gem-c-action-link__link-wrapper">
		    <a class="govuk-link gem-c-action-link__link govuk-link--no-visited-state" href="{% url 'post_list' %}">
		  {{ show_all_text }}
	  </a>     
	    </span>
	      </div>
	  </div>
	  </div>
	      {% endif %}
  </section>
