{% with category_name=posts.first.category.name %}
<section class="heading-border govuk-!-margin-bottom-3" id="latest-sitenews">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
	    <h2 class="govuk-heading-m govuk-!-padding-top-3 govuk-!-padding-bottom-3 govuk-!-margin-bottom-3">                {% if post_group_heading %}
	          {{ post_group_heading }}
		{% else %}
		 Latest from {{ category_name|capfirst }}
		{% endif %}
	    </h2>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <ul class="gem-c-document-list">
		  {% for post in posts %}
      <li class="gem-c-document-list__item brand--attorney-generals-office ">
        <a class="govuk-link gem-c-document-list__item-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          <ul class="gem-c-document-list__item-metadata">
                <li class="gem-c-document-list__attribute">
		<time datetime="{{ post.created_on|date:'Y-m-d' }}">
			{{ post.created_on|date:'d F Y'}}
		</time>
		</li>
                <li class="gem-c-document-list__attribute">
			{{ post.category.name }}
		</li>         
	  </ul>
      </li>
      {% endfor %}
	  </ul>
	  {% if posts.count >= 1 and not see_all_disabled|default:False %}
      <p class="govuk-!-padding-bottom-6">
        {% if see_all_url %}
	<a href="{{ see_all_url }}" class="govuk-link">
		{{ see_all_label|default:"See all from this list" }}
          </a>
        {% else %}
          <a href="/search/?cat={{ category_name }}" class="govuk-link">
		See all latest {{ category_name }}
          </a>
        {% endif %}
      </p>
      {% endif %}
    </div>
  </div>
</section>
{% endwith %}
